h1#encabezado {
    text-align: center;
    color: blue;
}


h5#bitcoin_ {
    color: blue;   
  text-align: right;
}






h5#ethereum_ {
    color: blue;
    text-align: center;
    ;

}




h5#litecoin__ {
    color: blue;
    text-align: left;
}